#root {
/*   max-width: 1280px; */
  margin: 0;
  text-align: center;
}

.App {
  text-align: center;
}

.imageContainer {
  height: auto;
  width: 100%;
  align-content: center;
}

.gifLogo {
  width: 200px;
  height: 200px;
  margin: 0px;
}


