@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  /* background-color: #242424; */

}
*{
  margin: 0px;
  font-family: 'Rubik', sans-serif;
}

